/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
}

.page {
    width: 50%;
    margin: 0 auto;
}

.app-logo {
    font-weight: bold;
    text-shadow: 0px 0px 19px white;
    color: #e55656;
    font-size: 19px;
    height: 100%;
}

#flash-notice {
    display: flex;
    justify-content: center;
}

.notice {
    width: 0;
    transition-property: width;
    transition-duration: 1s;
    display: flex;
    position: absolute;
    top:20px;
    left: calc(50% - 380px);
    overflow: hidden;
    white-space: nowrap;
}

.notice-show {
    width: 340px;
}

.notice span {
    color: red;
    background-color: antiquewhite;
    padding: 10px 30px;
    font-size: 14px;
}

.nav-section {
    background-color: rgba(33, 33, 33, 0.98);
    height: 62px;
    border-radius: 0 0 18px 18px;
    color: white;
    /*padding: 0 20px;*/
}

.nav-content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.nav-items {
    margin-right: 15px;
}

.nav-items a {
    color: white;
    font-size: 14px;
}

.nav-items a:hover {
    text-decoration: underline;
}


.nav-user {
    text-align: end;
    margin-right: 40px;
    font-size: 13px;
    color: #d2d2d2;
}

.nav-btn {
    text-align: end;
}

.btn{
    border-radius: 10px;
    padding: 4px 18px;
    border: none;
    font-size: 12px;
}

.btn:enabled:hover {
    background-color: #e55656;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 1470px) {
    .nav-content{
        width: 55%;
    }
    .main-content{
        width: 55%;
    }
}

@media screen and (max-width: 1350px) {
    .nav-content{
        width: 60%;
    }
    .main-content{
        width: 60%;
    }
}

@media screen and (max-width: 1235px) {
    .nav-content{
        width: 70%;
    }
    .main-content{
        width: 70%;
    }
}

@media screen and (max-width: 1060px) {
    .nav-content{
        width: 80%;
    }
    .main-content{
        width: 80%;
    }
}

@media screen and (max-width: 930px) {
    .nav-section {
        padding: 0 20px;
    }
    .nav-content{
        width: 100%;
    }
    .main-content{
        width: 100%;
        padding: 20px;
    }

    .video-collection {
        justify-content: center;
    }
}

@media screen and (max-width: 750px) {
    .nav-content{
        display: none;
    }


}

.error, .success {
    top: 40px;
    left: calc(50% - 150px);
}


.error span {
    background-color: #ffbaba;
    color: #dc0c0c;
}

.success span {
    background-color: #c5edc5;
    color: green;
}

.github {
    background-color: black;
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.github img {
    width: 35px;
    margin-left: 10px;
}