<div class="nav-section">
  <div class="nav-content">
    <div class="app-logo">
      <img style="width: 50px; height: 100%" src="/assets/fyc_logo.svg">
    </div>

    <div style="display: flex">
      <div class="nav-items"><%= link_to "My Collection", "/youtubefavs" %></div>
      <div class="nav-items"><%= link_to "New Item", "/youtubefavs/new" %></div>
    </div>

    <div class="nav-user">
      <%= @user.name %>
    </div>

    <div class="nav-btn">
      <%= button_to "Log out", "/log_out", class: "btn" %>
    </div>
  </div>
</div>